body {
    background-color: #C0C0C0;
    color: #000000;
    font-family: "Î¢ÈíÑÅºÚ, ºÚÌå, ËÎÌå";
    font-size: 12px;
    margin: 0;
    padding: 0;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: #0000FF;
}
.clear {
    clear: both;
}
#wrap {
    background-color: #FFFFFF;
    height: auto;
    margin: auto;
    width: 900px;
}
#bg {
    background: url("../images/daohang.jpg") no-repeat scroll center center transparent;
    height: 198px;
    padding: 0;
    width: 900px;
}
#head {
    height: 41px;
    padding: 151px 0 0 80px;
    width: 767px;
}
#head ul {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 9px 0 0 15px;
}
#head ul li {
    display: inline;
    height: 27px;
    margin: 0;
    padding: 0;
}
#head ul li a {
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    height: 27px;
    line-height: 27px;
    margin: 0 20px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
}
#head ul li.selected a {
    background: url("../images/button.jpg") repeat-x scroll center center transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 15px;
    height: 27px;
    line-height: 27px;
    margin: 0 5px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
}
#head a:hover {
    background: url("../images/button.jpg") repeat-x scroll center center transparent;
}
#ccenter {
    background-color: #FFFFFF;
    height: auto;
    margin: 0 auto auto;
    padding: 0;
    width: 900px;
}
#bottom {
	background-color: #FFFFFF;
    left: 50%;
    margin-left: -450px;
    position: absolute;
    width: 900px;
}
#bottom span {
    color: #000000;
    margin-left: 30px;
}
.bottom, .copyright {
    margin: 0;
    padding: 5px 0;
    position: relative;
    text-align: center;
}
