@import "style_outline.css";
.picture_show {
    height: 535px;
    margin-left: 15px;
    width: 420px;
}
.col {
    height: 173px;
    margin-bottom: 10px;
    width: 420px;
}
.element {
    float: left;
    height: 150px;
    margin-right: 20px;
    margin-bottom: -5px;
    margin-top: 25px;
    width: 120px;
}
.row {
    border: 1px dashed #999999;
    float: left;
    height: 150px;
    margin-left: 10px;
    margin-right: 0;
    width: 130px;
}
.row_title {
    color: #666666;
    height: 12px;
    margin-left: 10px;
    padding: 0 10px 5px 20px;
    text-align: center;
    width: 100px;
}
.t {
    float: left;
    height: 5px;
    width: 40px;
}
.text {
    float: left;
    height: 12px;
    text-align: center;
    width: 110px;
}
.text a {
    color: #666666;
}
.text a:hover {
    color: #0000FF;
    text-decoration: underline;
}
.image {
    float: left;
    height: 96px;
    margin: 10px;
    width: 110px;
}
.image img {
    height: 92px;
    width: 105px;
}
.price {
    font-size: 16px;
    height: 23px;
    padding: 5px 5px 0 15px;
    width: 100px;
}
.sale {
    float: left;
}
.num {
    float: left;
    margin: 2px 0 0 15px;
}
.number {
    height: 20px;
    margin: 20px 5px 0 70px;
    padding: 0;
    text-align: center;
    width: 340px;
}
