/* CSS Document */
@import "head.css";

/*-------------------------------------------Ŀ¼----------------------------------------------------------*/
#middle{
margin:0px;
padding:0;
width:900px;
height:651px;
clear:both;
}
#left{
width:510px;
height:650px;
float:left;
padding-left:20px;
background-image:url(../images/back.gif);
}
#category{
width:322px;
height:650px;
float:left;
padding-left:10px;
}
.cart{
width:320px;
height:40px;
float:left;
margin:0 0 10px 0;
}
.line{
width:320px;
height:15px;
margin-bottom:10px;
clear:both;
background:url(../images/border.gif) repeat-x center;
}
.about{
width:320px;
height:151px;
margin-bottom:5px;
}
.cart_title{
color:#a81f22;
float:left;
font-size:19px;
margin-top:10px;
}
.home_cart_content{
width:120px;
float:left;
padding:3px;
border:1px #eeedee solid;
margin:10px 0 0 15px;
text-align:center;
}
a.view_cart{
display:block;
float:left;
margin:12px 0 0 15px;
color:#990000;
}
a:hover{
color:#0000FF;
text-decoration:underline;
}
span.title_icon{
float:left;
padding:0 5px 0 0;
}

span.red{
color:#990000;
}
.title{
width:200px;
height:30px;
margin-top:25px;
margin-left:15px;
padding:10px;
font-size:19px;
color:#a81f22;
clear:both;
}
span.title_icon{
float:left;
padding:0 5px 0 0;
}
.about_title{
width:150px;
height:30px;
font-size:18px;
color:#a81f22;
margin-right:10px;
float:left;
}
.about_t{
width:320px;
height:120px;
}
.about_text{
width:175px;
height:100px;
line-height:20px;
padding:10px;
float:left;
}
.picture{
width:123px; 
height:116px;
float:left;
}
.picture img{
width:105px; 
height:92px;
margin-top:8px;
}
img.cuxiao{
width:50px;
height:50px;
position:absolute;
top:475px;
left:735px;
z-index:100;
}
.cate{
width:322px;
height:30px;
}
.name1{
width:123px;
height:362px;
padding-left:17px;
margin-right:20px;
font-size:14px;
float:left;
}
.name{
width:150px;
height:300px;
margin-right:10px;
font-size:14px;
float:left;
}
.item{
width:150px;
height:15px;
margin-top:20px;
border-bottom:dashed 1px;
}
span.icon{
padding:0 15px 0 0;
}
.item a{
color:#000000;
}
.item a:hover{
color:#0000FF;
text-decoration:underline;
}