/* CSS Document */
@import "head.css";

/*-------------------------------------------Ŀ¼----------------------------------------------------------*/
#middle {
    float: left;
    height: 651px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 550px;
}
#left {
    background-image: url("../images/back.gif");
    float: left;
    height: 650px;
    padding-left: 20px;
    width: 880px;
}
#category {
    float: left;
    height: 650px;
    padding-left: 0;
    position: relative;
}
.cart {
    float: left;
    height: 40px;
    margin: 0 0 10px;
    width: 320px;
}
.line {
    background: url("../images/border.gif") repeat-x scroll center center transparent;
    clear: both;
    height: 15px;
    margin-bottom: 10px;
    width: 300px;
}
.about {
    height: 151px;
    margin-bottom: 5px;
    width: 300px;
}
.cart_title {
    color: #A81F22;
    float: left;
    font-size: 19px;
    margin-top: 10px;
}
.home_cart_content {
    border: 1px solid #EEEDEE;
    float: left;
    margin: 10px 0 0 15px;
    padding: 3px;
    text-align: center;
    width: 120px;
}
a.view_cart {
    color: #990000;
    display: block;
    float: left;
    margin: 12px 0 0 15px;
}
a:hover {
    color: #0000FF;
    text-decoration: underline;
}
span.title_icon {
    float: left;
    padding: 0 5px 0 0;
}
span.red {
    color: #990000;
}
.title {
    clear: both;
    color: #A81F22;
    font-size: 19px;
    height: 30px;
    margin-left: 15px;
    margin-top: 25px;
    padding: 10px;
    width: 200px;
}
span.title_icon {
    float: left;
    padding: 0 5px 0 0;
}
.about_title {
    color: #A81F22;
    float: left;
    font-size: 18px;
    height: 30px;
    margin-right: 10px;
    width: 150px;
}
.about_t {
    height: 120px;
    width: 320px;
}
.about_text {
    float: left;
    height: 100px;
    line-height: 20px;
    padding: 10px;
    width: 175px;
}
.picture {
    float: left;
    height: 116px;
    width: 123px;
}
.picture img {
    height: 92px;
    margin-top: 8px;
    width: 105px;
}
img.cuxiao {
    height: 50px;
    left: 735px;
    position: absolute;
    top: 475px;
    width: 50px;
    z-index: 100;
}
.cate {
    height: 30px;
    width: 322px;
}
.name1 {
    float: left;
    font-size: 14px;
    height: 362px;
    margin-right: 20px;
    padding-left: 17px;
    width: 123px;
}
.name {
    float: left;
    font-size: 14px;
    height: 300px;
    margin-right: 10px;
    width: 150px;
}
.item {
    border-bottom: 1px dashed;
    height: 15px;
    margin-top: 20px;
    width: 150px;
}
span.icon {
    padding: 0 15px 0 0;
}
.item a {
    color: #000000;
}
.item a:hover {
    color: #0000FF;
    text-decoration: underline;
}